<div class="MContainer container">

    <div class="row">

        <div class="col mt-5">
            <div class="col-sm">
                <img src="assets/images/icons/Apple-Watch-Apple-Watch-Iwatch-PNG-Image.png" class="image">

            </div><br>

            <div class="row">
                <div class="col-4 text-left">
                    <img src="assets/images/icons/Apple-Watch-Apple-Watch-Iwatch-PNG-Image.png"
                        class="otherProdoctImages rounded">
                </div>
                <div class="col-4 text-center">
                    <img src="assets/images/icons/Apple-Watch-Apple-Watch-Iwatch-PNG-Image.png"
                        class="otherProdoctImages rounded">
                </div>
                <div class="col-4 text-right">
                    <img src="assets/images/icons/Apple-Watch-Apple-Watch-Iwatch-PNG-Image.png"
                        class="otherProdoctImages rounded">
                </div>
                <!-- <img src="assets/images/icons/Apple-Watch-Apple-Watch-Iwatch-PNG-Image.png" class="otherProdoctImages rounded">
                <img src="assets/images/icons/Apple-Watch-Apple-Watch-Iwatch-PNG-Image.png" class="otherProdoctImages rounded"> -->
            </div>
        </div>



        <div class="col-sm mt-5">
            <div class="PTitle col-12 border-bottom pb-3">
                <h2>بند ساعت یونیتی</h2>
            </div><br>

            <div class="PDetails row mt-3">
                <div class="col-4">تخفیف %5</div>

                <div class="col-4">700,000</div>
                <div class="likeIcon col-4"><img id="like" src="assets/images/icons/icons8-heart-90.png"></div>

            </div>

            <br>
            اتخاب سایز ساعت
            <div class="row mt-3">

                <div class="col-4 ">
                    <div class="Psize selectedpSize">44mm</div>

                </div>
                <div class=" col-4 ">
                    <div class="Psize">41mm</div>

                </div>
                <div class=" col-4 ">
                    <div class="Psize">38mm</div>

                </div>

            </div><br>

            اتخاب رنگ

            <div class="row mt-3">


                <div class="Pcolors"></div>
                <div class="Pcolors"></div>
                <div class="Pcolors selectedpColor"></div>
                <div class="Pcolors"></div>
                <div class="Pcolors"></div>




            </div><br>

            تعداد

            <div class="PCount row mt-3">
                <div class="col-5">
                    <input class="form-control form-control-lg" type="text">
                </div>
            </div>


            <button type="submit" class="PAddtocart  mt-3">
                <a>
                    افزودن به سبد خرید

                </a>
                <img class="AddIcon" src="assets/images/icons/icons8-cart-90.png" alt="">
            </button>
            <div dir="ltr">
                <h5 class="mt-3">ویژگی های محصول</h5>
                <p>محصول این ویژگی را دارد ●</p>
                <p>محصول این ویژگی را دارد ●</p>
                <p>محصول این ویژگی را دارد ●</p>
                <p>محصول این ویژگی را دارد ●</p>
                <p>محصول این ویژگی را دارد ●</p>
                <p>محصول این ویژگی را دارد ●</p>
            </div>

        </div>




        <div class="col-12 mt-5">
            <div class="border-top border-bottom pb-3 pt-3">

                <div class="row">
                    <div class="col-6" id="FAQTitle">برسی محصول</div>

                    <div class="col-6" style="text-align: left;"><img id="downSymbol"
                            src="assets/images/icons/icons8-down-96.png" alt=""></div>
                </div>

            </div>

            <div class="border-bottom pb-3 pt-3">

                <div class="row">
                    <div class="col-6" id="FAQTitle">نظرات</div>

                    <div class="col-6" style="text-align: left;"><img id="downSymbol"
                            src="assets/images/icons/icons8-down-96.png" alt=""></div>
                </div>

            </div>

            <div class="border-bottom pb-3 pt-3">

                <div class="row">
                    <div class="col-6" id="FAQTitle">سوالات</div>

                    <div class="col-6" style="text-align: left;"><img id="downSymbol"
                            src="assets/images/icons/icons8-down-96.png" alt=""></div>
                </div>

            </div>
        </div>

        <div class="ADs mt-5 col-12">
            <h5>شاید از این محصولات هم خوشتان بیاید</h5>

            <div class="row mt-5">

                <div class="col-md">
                    <div class="card" style="width: 100%">
                        <div class="cardimg"></div>
                        <div class="card-body">
                            <p class="card-text">ساعت</p>
                            <div class="productPrice">700,000</div>
                        </div>
                    </div>
                </div>

                <div class="col-md">
                    <div class="card" style="width: 100%">
                        <div class="cardimg"></div>
                        <div class="card-body">
                            <p class="card-text">ساعت</p>
                            <div class="productPrice">700,000</div>
                        </div>
                    </div>
                </div>

                <div class="col-md">
                    <div class="card" style="width: 100%">
                        <div class="cardimg"></div>
                        <div class="card-body">
                            <p class="card-text">ساعت</p>
                            <div class="productPrice">700,000</div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>