 

    <div class="container">

        <div class="row">

            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <div class="dashboardNavbar">
                    <div id="dashboardNavbarcontent">
                        <h1>محمدرضا داورپناه</h1>
                        <h3>09121234567</h3>
                        <p>کاربر همکار یا فروشگاه</p>
                        <h2>اطلاعات کاربری را تکمیل نمایید</h2>
                    </div>
                    <div id="dashboardNavbarBody">
                        <img src="images/icons/icons8-eye-90.png">
                        <p>داشبورد</p><br>

                        <img src="images/icons/icons8-eye-90.png">
                        <p>اطلاعات کاربر</p><br>

                        <img src="images/icons/icons8-eye-90.png">
                        <p>تعیین رمز عبور</p><br>

                        <img src="images/icons/icons8-eye-90.png">
                        <p>سفارش ها</p><br>

                        <img src="images/icons/icons8-eye-90.png">
                        <p>لیست مورد علاقه ها</p><br>

                        <img src="images/icons/icons8-eye-90.png">
                        <p>آدرس های شما</p><br>

                        <img src="images/icons/icons8-eye-90.png">
                        <p>تیکت ها و پیغام ها</p><br>

                        <img src="images/icons/icons8-eye-90.png">
                        <p>پرداخت ها و حسابداری</p><br>

                        <img src="images/icons/icons8-eye-90.png">
                        <p>خروج</p>
                    </div>
                </div>
            </div>


            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
                <div class="dashboardIndex">

                    <div class="row ml-3 mt-3">
                        <div class="col-6 add">افزودن آدرس جدید</div>
                        <div class="col-6">آدرس ها</div>

                    </div>


                    <div class="row mt-5">
                        <div class="ed col-4">

                            <div class="row ml-3">
                                <div class="col-6">
                                    <p>ویرایش</p>
                                </div>

                                <div class="col-6">
                                    <p>حذف</p>
                                </div>
                            </div>

                        </div>
                        <div class="col-8">
                            <p>پلاک نه، ابتدای خیابان شهید گمنام،استان تهران، تهران، منطقه</p>
                        </div>

                    </div>

                    <div class="row mt-5">
                        <div class="ed col-4">

                            <div class="row ml-3">
                                <div class="col-6">
                                    <p>ویرایش</p>
                                </div>

                                <div class="col-6">
                                    <p>حذف</p>
                                </div>
                            </div>

                        </div>
                        <div class="col-8">
                            <p>پلاک نه، ابتدای خیابان شهید گمنام،استان تهران، تهران، منطقه</p>
                        </div>

                    </div>

                    <div class="row mt-5">
                        <div class="ed col-4">

                            <div class="row ml-3">
                                <div class="col-6">
                                    <p>ویرایش</p>
                                </div>

                                <div class="col-6">
                                    <p>حذف</p>
                                </div>
                            </div>

                        </div>
                        <div class="col-8">
                            <p>پلاک نه، ابتدای خیابان شهید گمنام،استان تهران، تهران، منطقه</p>
                        </div>

                    </div>


                </div>
            </div>


        </div>

    </div>





 