    <div class="container">

        <div class="row">


            <div class="col-12 pb-3">
                <div class="banner rounded"></div>
            </div>

            <div class="col-sm pb-3">
                <div class="catBanners rounded">بند فلزی</div>
            </div>
            <div class="col-sm pb-3">
                <div class="catBanners rounded">بند میلانس</div>
            </div>
            <div class="col-sm pb-3">
                <div class="catBanners rounded">بند رولکسی</div>
            </div>
            <div class="col-sm pb-3">
                <div class="catBanners rounded">بند سیلیکونی</div>
            </div>
            <div class="col-sm pb-3">
                <div class="catBanners rounded">بند لاکچری</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm pb-3">
                <div class="catBanners rounded">بند پلاستیکی</div>
            </div>
            <div class="col-sm pb-3">
                <div class="catBanners rounded">بند سرامیکی</div>
            </div>
            <div class="col-sm pb-3">
                <div class="catBanners rounded">بند چرمی</div>
            </div>
            <div class="col-sm pb-3">
                <div class="catBanners rounded">بند هرمس</div>
            </div>
            <div class="col-sm pb-3">
                <div class="catBanners rounded">بند دیاموند</div>
            </div>
        </div>



    </div>


 