<div class="dashboardIndex">

    <div class="row ml-3 mt-3">
        <div class="col-6">آدرس ها</div>
        <div class="col-6 add ">
            <p>افزودن آدرس جدید</p>
        </div>
    </div>


    <div class="row mt-5">

        <div class="col-8">
            <p id="adressparag">پلاک نه، ابتدای خیابان شهید گمنام،استان تهران، تهران، منطقه</p>
        </div>


        <div class="ed col-4">

            <div class="row ml-3">
                <div class="col-6">

                    <div class="row">
                        <div class="col-4 edittext">
                            <p>ویرایش</p>
                        </div>
                        <div class="col-6">
                            <img src="assets/images/icons/icons8-eye-90.png" alt="">
                        </div>


                    </div>

                </div>

                <div class="col-6">

                    <div class="row">
                        <div class="col-4 edittext">
                            <p>حذف</p>
                        </div>
                        <div class="col-6">
                            <img src="assets/images/icons/icons8-eye-90.png" alt="">
                        </div>


                    </div>
                </div>
            </div>

        </div>

    </div>


    <div class="row mt-5">

        <div class="col-8">
            <p id="adressparag">پلاک نه، ابتدای خیابان شهید گمنام،استان تهران، تهران، منطقه</p>
        </div>


        <div class="ed col-4">

            <div class="row ml-3">
                <div class="col-6">

                    <div class="row">
                        <div class="col-4 edittext">
                            <p>ویرایش</p>
                        </div>
                        <div class="col-6">
                            <img src="assets/images/icons/icons8-eye-90.png" alt="">
                        </div>


                    </div>

                </div>

                <div class="col-6">

                    <div class="row">
                        <div class="col-4 edittext">
                            <p>حذف</p>
                        </div>
                        <div class="col-6">
                            <img src="assets/images/icons/icons8-eye-90.png" alt="">
                        </div>


                    </div>
                </div>
            </div>

        </div>

    </div>


    <div class="row mt-5">

        <div class="col-8">
            <p id="adressparag">پلاک نه، ابتدای خیابان شهید گمنام،استان تهران، تهران، منطقه</p>
        </div>


        <div class="ed col-4">

            <div class="row ml-3">
                <div class="col-6">

                    <div class="row">
                        <div class="col-4 edittext">
                            <p>ویرایش</p>
                        </div>
                        <div class="col-6">
                            <img src="assets/images/icons/icons8-eye-90.png" alt="">
                        </div>


                    </div>

                </div>

                <div class="col-6">

                    <div class="row">
                        <div class="col-4 edittext">
                            <p>حذف</p>
                        </div>
                        <div class="col-6">
                            <img src="assets/images/icons/icons8-eye-90.png" alt="">
                        </div>


                    </div>
                </div>
            </div>

        </div>

    </div>


    <div class="row mt-5">

        <div class="col-8">
            <p id="adressparag">پلاک نه، ابتدای خیابان شهید گمنام،استان تهران، تهران، منطقه</p>
        </div>


        <div class="ed col-4">

            <div class="row ml-3">
                <div class="col-6">

                    <div class="row">
                        <div class="col-4 edittext">
                            <p>ویرایش</p>
                        </div>
                        <div class="col-6">
                            <img src="assets/images/icons/icons8-eye-90.png" alt="">
                        </div>


                    </div>

                </div>

                <div class="col-6">

                    <div class="row">
                        <div class="col-4 edittext">
                            <p>حذف</p>
                        </div>
                        <div class="col-6">
                            <img src="assets/images/icons/icons8-eye-90.png" alt="">
                        </div>


                    </div>
                </div>
            </div>

        </div>

    </div>




</div>