<div class="dashboardIndex">

    <div class="row ml-3 mt-3">
        <div class="col-6">آدرس ها</div>
        <div class="col-6 add">افزودن آدرس جدید</div>
    </div>


    <div class="row mt-5">

        <div class="col-8">
            <p id="adressparag">پلاک نه، ابتدای خیابان شهید گمنام،استان تهران، تهران، منطقه</p>
        </div>


        <div class="ed col-4">

            <div class="row ml-3">
                <div class="col-6">
                    <p>ویرایش</p>
                </div>

                <div class="col-6">
                    <p>حذف</p>
                </div>
            </div>

        </div>

    </div>

  
    <div class="row mt-5">

        <div class="col-8">
            <p id="adressparag">پلاک نه، ابتدای خیابان شهید گمنام،استان تهران، تهران، منطقه</p>
        </div>


        <div class="ed col-4">

            <div class="row ml-3">
                <div class="col-6">
                    <p>ویرایش</p>
                </div>

                <div class="col-6">
                    <p>حذف</p>
                </div>
            </div>

        </div>

    </div>

   
    <div class="row mt-5">

        <div class="col-8">
            <p id="adressparag">پلاک نه، ابتدای خیابان شهید گمنام،استان تهران، تهران، منطقه</p>
        </div>


        <div class="ed col-4">

            <div class="row ml-3">
                <div class="col-6">
                    <p>ویرایش</p>
                </div>

                <div class="col-6">
                    <p>حذف</p>
                </div>
            </div>

        </div>

    </div>

   
    <div class="row mt-5">

        <div class="col-8">
            <p id="adressparag">پلاک نه، ابتدای خیابان شهید گمنام،استان تهران، تهران، منطقه</p>
        </div>


        <div class="ed col-4">

            <div class="row ml-3">
                <div class="col-6">
                    <p>ویرایش</p>
                </div>

                <div class="col-6">
                    <p>حذف</p>
                </div>
            </div>

        </div>

    </div>

    


</div>