 
    <div class="Contactbanner"></div>

<br>
    <div class="container">

        <div class="row">
            <div class="col-12 mt-3">
                <div class="ContactTemp">
                    <h1>تماس باما</h1>
                    <div>
                        <div class="rightInputs">
                            <p>نام</p>
                            <input type="text">

                            <p>موبایل</p>
                            <input type="text">

                            <p>شماره سفارش</p>
                            <input type="text">
                            <p>متن پیام</p>
                        </div>
                        <div class="leftInputs">
                            <p>نام</p>
                            <input type="text">

                            <p>موبایل</p>
                            <input type="text">

                            <p>شماره سفارش</p>
                            <input type="text">
                        </div>
                        <textarea cols="30" rows="10"></textarea>

                        <div class="upload">
                            <div>
                                <p>برای اضافه کردن فایل کلیک کنید</p>
                            </div>
                        </div>
                        <button>ارسال پیام</button>
                    </div>
                </div><br>
            </div>

            <div class="col-6">
                <div class="ConSmBoxes w-100">
                    <h1>پشتیبانی</h1>
                    <p>0912123123</p>
                </div>
            </div>

            <div class="col-6">
                <div class="ConSmBoxes w-100">
                    <h1>پشتیبانی</h1>
                    <p>0912123123</p>
                </div>
            </div>

        </div><br>

    </div>

 