<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adress Drop</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Vazirmatn:wght@100..900&display=swap"
        rel="stylesheet">
</head>

<body>
  
    <br><br><br><br>

    <div class="steps">
        <div id="right">
            <div></div>
        </div>
        <div id="left">
            <div id="center"></div>
            <div></div>
        </div>
    </div>

    <div class="AdressPageTemp">
        <h1>اطلاعات ارسال</h1><br>
        <div class="break"></div><br>
        <p>آدرس های شما</p>
        <label for="adress">پلاک نه، ابتدای خیابان شهید گمنام،استان تهران، تهران، منطقه ۶</label>
        <a href="#">ویرایش</a>
        <a href="#">حذف</a>
        <input type="checkbox" name="adress"><br>
        <label for="adress">پلاک نه، ابتدای خیابان شهید گمنام،استان تهران، تهران، منطقه ۶</label>
        <a href="#">ویرایش</a>
        <a href="#">حذف</a>
        <input type="checkbox" name="adress">
        <br>

        <a href="#" id="newAddress">افزودن آدرس جدید</a><br><br>
        <div class="break"></div><br>

        <h1>آدرس های دراپ شیپینگ</h1>
        <p>شما میتوانید مصولات را مستقیما از انبار دریافت کنید</p>
        <div>
            <button>افزودن آدرس دراپ شیپینگ</button>
        </div><br>

        <div class="break"></div><br>
        <h1>انتخاب نوع ارسال</h1>
        <label for="adress">پست پیشتاز</label><a class="postDetail">( زمان تقریبی 3 روز )</a>
        <input type="checkbox" name="adress"><br>

        <label for="adress">تیپاکس</label><a class="postDetail">( زمان تقریبی 3 روز )</a>
        <input type="checkbox" name="adress"><br>
        <h3>تومان700,000</h3><br><br>
<br>
        <div class="break"></div><br>
        <h1>مجموع سبد خرید</h1>
        <h3 id="total">تومان700,000</h3>
        <div>
            <input type="button" value="تایید و ادامه" id="accept">
        </div>
    </div>
</body>

</html>