<div class="listingfilternav">
    <div class="listingItems">

        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>


        <p class="pr-3 mt-3">فقط موجود</p>

    </div>
    <div class="listingItems">برند</div>
    <div class="listingItems">مرتب سازی بر اساس</div>
    <div class="listingItems">
        <div class="progress">



        </div>

        <div id="leftrange"></div>
        <div id="rightrange"></div>

    </div>




    <router-outlet></router-outlet>