<div class="totalPrice">


    <div id="totalTitle">جمع کل</div>
    <div id="totalnumber">90 تومان</div>


</div>

<div class="dashboardIndex mt-3">


    <div class="container">

        <div class="row">

            <div class="col-12 mt-5 pb-5" id="listTitle">
                لیست واریز ها
            </div>

            
            <div class="row">
                <div class="col-3 listDTitle">ردیف</div>
                <div class="col-3 listDTitle">شماره سفارش</div>
                <div class="col-3 listDTitle">تاریخ</div>
                <div class="col-3 listDTitle">مبلغ</div>
            </div>
            
           <div id="line"></div>
               
           
           <div class="row">
            <div class="col-3 listDTitle numberCollor">1</div>
            <div class="col-3 listDTitle">123</div>
            <div class="col-3 listDTitle numberCollor">10.10.10</div>
            <div class="col-3 listDTitle numberCollor">50,000</div>
           </div>
           <div id="line"></div>
           
          
           <div class="row">
            <div class="col-3 listDTitle numberCollor">1</div>
            <div class="col-3 listDTitle">123</div>
            <div class="col-3 listDTitle numberCollor">10.10.10</div>
            <div class="col-3 listDTitle numberCollor">50,000</div>
           </div>
           <div id="line"></div>


           <div class="row pb-3">
            <div class="col-3 listDTitle numberCollor">1</div>
            <div class="col-3 listDTitle">123</div>
            <div class="col-3 listDTitle numberCollor">10.10.10</div>
            <div class="col-3 listDTitle numberCollor">50,000</div>
           </div>
                
                
        </div>

    </div>



</div>