
<div class="dashboardIndex p-5">
    <div class="row">
        <div class="col-sm-4 pb-3">
            <div class="card" style="width: 100%">
                <div class="cardimg"></div>
                <div class="card-body">
                    <p class="card-text">ساعت</p>
                    <div class="productPrice">700,000</div>
    
                </div>
            </div>
        </div>
    
        <div class="col-sm-4 pb-3">
            <div class="card" style="width: 100%">
                <div class="cardimg"></div>
                <div class="card-body">
                    <p class="card-text">ساعت</p>
                    <div class="productPrice">700,000</div>
    
                </div>
            </div>
        </div>
    
        <div class="col-sm-4 pb-3">
            <div class="card" style="width: 100%">
                <div class="cardimg"></div>
                <div class="card-body">
                    <p class="card-text">ساعت</p>
                    <div class="productPrice">700,000</div>
    
                </div>
            </div>
        </div>

        <div class="col-sm-4 pb-3">
            <div class="card" style="width: 100%">
                <div class="cardimg"></div>
                <div class="card-body">
                    <p class="card-text">ساعت</p>
                    <div class="productPrice">700,000</div>
    
                </div>
            </div>
        </div>

        <div class="col-sm-4 pb-3">
            <div class="card" style="width: 100%">
                <div class="cardimg"></div>
                <div class="card-body">
                    <p class="card-text">ساعت</p>
                    <div class="productPrice">700,000</div>
    
                </div>
            </div>
        </div>

        <div class="col-sm-4 pb-3">
            <div class="card" style="width: 100%">
                <div class="cardimg"></div>
                <div class="card-body">
                    <p class="card-text">ساعت</p>
                    <div class="productPrice">700,000</div>
    
                </div>
            </div>
        </div>

        <div class="col-sm-4 pb-3">
            <div class="card" style="width: 100%">
                <div class="cardimg"></div>
                <div class="card-body">
                    <p class="card-text">ساعت</p>
                    <div class="productPrice">700,000</div>
    
                </div>
            </div>
        </div>
    </div>
</div>
