<head>
    <!-- bootstrap cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<header class="Header">
    <div class="container">
        <div>
            <i routerLink="" id="logo" [innerHTML]="data.svgs['mainicon']"></i>
        </div>
        <ul id="headerLinks">
            <li>کالای دیجیتال</li>
            <li>لوازم جانبی</li>
            <li>کالای لاکچری</li>
        </ul>
        <div class="icons ml-auto">
            <div><img src="../assets/images/icons/icons8-cart-90.png" alt=""></div>
            <div><img src="../assets/images/icons/icons8-search-90.png" alt=""></div>
            <div><img src="../assets/images/icons/icons8-user-96 (1).png" alt=""></div>
            <div>
                <p>بلاگ</p>
            </div>
        </div>
        <div id="hambF" class="ml-auto">
            <img id="hamburgerIcon" src="../assets/images/icons/icons8-hamburger-menu-150 (1).png">
        </div>
    </div>
</header>

<div class="grayHeader">
    <div class="container">
        <img src="../assets/images/icons8-batman-500 (1).png" alt="">
        <ul>
            <li>موضوع سوم</li>
            <li>موضوع دوم</li>
            <li>موضوع اول</li>
        </ul>

    </div>

</div>
<br>
<router-outlet></router-outlet>


<div class="footernav">
    <div class="container">
        <p>پشتیبانی: 02133441126</p>
        <img src="../assets/images/footerLogo.jpg">
        <a href="#">info&#64;slictocupport.ir</a>
    </div>
</div>
<footer>
    <div class="DTFooter">
        <img id="DTEnemad" src="../assets/images/e nemad.jpg">
        <ul>
            <li>اسکلیتو</li>
            <li>درباره ما</li>
            <li>ارطبات با ما</li>
            <li>بلاگ</li>
        </ul>
        <ul>
            <h3>لوازم جانبی</h3>
            <li>جانبی گوشی</li>
            <li>جانبی اسمارت واچ</li>
            <li>جانبی ایرپاد</li>
        </ul>
        <ul>
            <h3>کالای دیجیتال</h3>
            <li>اسمارت واچ</li>
            <li>ایرپاد و هندزفری</li>
        </ul>
        <div id="DTFooterIMGs">
            <h3>شبکه های اجتماعی</h3>
            <img src="../assets/images/icons/icons8-instagram-192.png">
            <img src="../assets/images/icons/icons8-telegram-192.png">
        </div>
    </div>


    <div class="mobFooter">

        <div class="container">

            <div class="row">
                <div class="col-6">
                    <h3>اسکلیتو</h3>
                    <p>درباره ما</p>
                    <p>ارطبات با ما</p>
                    <p>بلاگ</p>
                </div>

                <div class="col-6">
                    <h3>لوازم جانبی</h3>
                    <p>جانبی گوشی</p>
                    <p>جانبی اسمارت واچ</p>
                    <p>جانبی ایرپاد</p>
                </div>

                <div class="col-6">
                    <img id="MOBEnemad" src="../assets/images/e nemad.jpg">
                </div>

                <div class="col-6 mt-3">
                    <h3>کالای دیجیتال</h3>
                    <p>اسمارت واچ</p>
                    <p>ایرپاد و هندزفری</p>
                </div>

                <div class="col-12">
                    <img class="mobFSocialIcons" src="../assets/images/icons/icons8-instagram-192.png">
                    <img class="mobFSocialIcons" src="../assets/images/icons/icons8-telegram-192.png">
                </div>
            </div>


        </div>

    </div>

</footer>