<div class="container">

    <div class="row">
        <div class="col-12 mt-3">
            <div class="ContactTemp">
                <div class="profileDetails">
                    <h1 id="profileTitle">اطلاعات کاربر</h1>
                    <div>
                        <div class="rightInputs">
                            <p>نام</p>
                            <input type="text">

                            <p>موبایل</p>
                            <input type="text">

                            <p>شماره موبایل</p>
                            <input type="text">
                            <br><br>

                        </div>
                        <div class="leftInputs">
                            <p>ایمیل</p>
                            <input type="text">

                            <p>نام شرکت</p>
                            <input type="text">

                            <p>شغل</p>
                            <input type="text">
                            <br>
                        </div>




                        <div class="upload uploadProf" id="FUPload">
                            <div>
                                
                                <p>
                                    <span>+</span><br>
                                    برای اضافه کردن فایل کلیک کنید
                                </p>
                            </div>
                        </div>
                        <div class="upload uploadProf mt-3" id="FUPload">
                            <div>
                                
                                <p>
                                    <span>+</span><br>
                                    برای اضافه کردن فایل کلیک کنید
                                </p>
                            </div>
                        </div>
                        <button>تایید و ثبت اطلاعات</button>
                    </div>
                </div>
            </div><br>
        </div>
    </div><br>

</div>