<div class="dashboardIndex">

    <div class="container">

        <div class="row">
            <h3 id="changepassTitle">تعیین رمز عبور جدید</h3>

            <div id="changePassDashboard">
                <div class="w-75 mx-auto">
                    <p>رمز عبور فعلی</p>
                    <input type="text" placeholder="رمز عبور فعلی">

                    <p>رمز عبور جدید</p>
                    <input type="text" placeholder="رمز عبور جدید">

                    <p>تکرار رمز عبور جدید</p>
                    <input type="text" placeholder="تکرار رمز عبور جدید">
                </div>

                <button>ثبت اطلاعات</button>
            </div>
        </div><br>

    </div>

</div>