<head>
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Vazirmatn:wght@100..900&display=swap"
        rel="stylesheet">
</head>

<div class="container">

    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <div class="dashboardNavbar">
                <div id="dashboardNavbarcontent">
                    <h1>محمدرضا داورپناه</h1>
                    <h3>09121234567</h3>
                    <p>کاربر همکار یا فروشگاه</p>
                    <h2>اطلاعات کاربری را تکمیل نمایید</h2>
                </div>
                <div id="dashboardNavbarBody">
                    <img src="assets/images/icons/icons8-eye-90.png">
                    <p routerLink="/account/dashboard">داشبورد</p><br>

                    <img src="assets/images/icons/icons8-eye-90.png">

                    <p routerLink="/account/profile">اطلاعات کاربر</p><br>

                    <img src="assets/images/icons/icons8-eye-90.png">

                    <p routerLink="/account/changepassword">تعیین رمز عبور</p><br>

                    <img src="assets/images/icons/icons8-eye-90.png">

                    <p routerLink="/account/orders">سفارش ها</p><br>

                    <img src="assets/images/icons/icons8-eye-90.png">

                    <p routerLink="/account/favorites">لیست مورد علاقه ها</p><br>

                    <img src="assets/images/icons/icons8-eye-90.png">

                    <p routerLink="/account/addressess">آدرس های شما</p><br>

                    <img src="assets/images/icons/icons8-eye-90.png">

                    <p routerLink="/account/tickets">تیکت ها و پیغام ها</p><br>

                    <img src="assets/images/icons/icons8-eye-90.png">

                    <p routerLink="/account/payments">پرداخت ها و حسابداری</p><br>

                    <img src="assets/images/icons/icons8-eye-90.png">

                    <p routerLink="">خروج</p>
                </div>
            </div>
        </div>

        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
            <br>
            <router-outlet></router-outlet>
        </div>

    </div>

</div>
<br><br>