<div class="row mx-auto w-100">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
        <div class="dashboardNavbar">
            <div id="dashboardNavbarcontent">
                <h1>محمدرضا داورپناه</h1>
                <h3>09121234567</h3>
                <p>کاربر همکار یا فروشگاه</p>
                <h2>اطلاعات کاربری را تکمیل نمایید</h2>
            </div>
            <div id="dashboardNavbarBody">

                <div *ngFor="let item of routes">
                    <i class="iconsindashboardLayout" (click)="select(item)" [routerLink]="item.route"
                        [innerHTML]="data.svgs[item.icon]"></i>
                    <p (click)="select(item)" [class.selectedlinkDashboard]="item.selected" [routerLink]="item.route">
                        {{item.title}}</p><br>
                    <i *ngIf="item.selected" class="DashboardMoreicon" routerLink=""
                        [innerHTML]="data.svgs['left']"></i>
                </div>

                <div>
                    <i class="iconsindashboardLayout" [innerHTML]="data.svgs['exit']"></i>
                    <p class="selectedlinkDashboard">خروج</p><br>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 mx-auto">
        <br>
        <router-outlet></router-outlet>
    </div>

</div>