<div class="dashboardIndex">

<div class="container">
    
    <div class="row">
        <div id="changePassDashboard">
            <p>رمز عبور فعلی</p>
            <input type="text" placeholder="رمز عبور فعلی">

            <p>رمز عبور جدید</p>
            <input type="text" placeholder="رمز عبور جدید">

            <p>تکرار رمز عبور جدید</p>
            <input type="text" placeholder="تکرار رمز عبور جدید">

            <button>ثبت اطلاعات</button>
        </div>
    </div><br>
    
</div>

</div>