<div class="container">

    <div class="row">
        <div class="col-4 DashboardOrdersSteps" id="selectedStep">
            سفارش های جاری<br>
            0 </div>
        <div class="col-4 DashboardOrdersSteps">
            سفارش های تحویل شده<br>
            10
        </div>
        <div class="col-4 DashboardOrdersSteps">
            سفارش های مرجوع شده<br>
            14
        </div>
    </div>

</div>


<div class="dashboardIndex" id="ordersDashboardIndex">
    سفارشی موجود نیست
</div>