<div class="container mt-5">

    <div class="row">
        <div class="col-sm-4 pb-3">
            <a routerLink="/product/0/title">
                <div class="card" style="width: 100%">
                    <div class="cardimg"></div>
                    <div class="card-body">
                        <p class="card-text">ساعت</p>
                        <div class="productPrice">700,000</div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-4 pb-3">
            <a routerLink="/product/0/title">
                <div class="card" style="width: 100%">
                    <div class="cardimg"></div>
                    <div class="card-body">
                        <p class="card-text">ساعت</p>
                        <div class="productPrice">700,000</div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-4 pb-3">
            <a routerLink="/product/0/title">
                <div class="card" style="width: 100%">
                    <div class="cardimg"></div>
                    <div class="card-body">
                        <p class="card-text">ساعت</p>
                        <div class="productPrice">700,000</div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-4 pb-3">
            <a routerLink="/product/0/title">
                <div class="card" style="width: 100%">
                    <div class="cardimg"></div>
                    <div class="card-body">
                        <p class="card-text">ساعت</p>
                        <div class="productPrice">700,000</div>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>

<router-outlet></router-outlet>