@import "shared";
@import "../node_modules/bootstrap/dist/css/bootstrap-grid.rtl.css";



.opensans {
    font-family: "Open Sans", sans-serif;
}

* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}


#HeaderinmenuJanebi {
    background-color: #525252a8;
}

// Header
.Header {
    background-color: $Header-color;
    width: 100%;
    height: 60px;

    div {
        height: 100%;
        display: flex;
        align-items: center;
    }

    img {
        float: left;
        width: 50px;
    }

    ul {
        list-style-type: none;
        color: white;
        height: 60px;
        display: flex;
        align-items: center;
    }

    li {
        text-align: center;
        display: table-cell;
        width: 150px;
        margin-top: 9px;
    }

}

.icons {
    float: right;
    height: 100%;

    img {
        width: 20px;
        float: right;
    }

    div {
        display: flex;
        align-items: center;
        width: 80px;
        height: 100%;
        float: right;
    }

    p {
        color: white;
        margin-top: 9px;
    }
}

#hamburgerIcon {
    float: right;
    width: 30px;
}

.grayHeader {
    width: 100%;
    height: 70px;
    background-color: $Gray-color;

    img {
        float: left;
        width: 50px;
        margin-top: 9px;
    }

    ul {
        list-style-type: none;
        color: black;
        float: right;
        height: 70px;
        display: flex;
        align-items: center;
    }

    li {
        text-align: center;
        display: table-cell;
        width: 150px;
    }
}

// Blog1
.banner {
    width: 100%;
    border-radius: 18px;
    height: 250px;
    background-size: auto;
    background-repeat: no-repeat;
    background-image: url('assets/images/baner.jpg');
}

.breakLine {
    width: 99%;
    margin: auto;
    height: 2px;
    background-color: $Gold-color;
    font-family: vazirmatn;
    margin-top: 25px;

    // position: absolute;
    div {
        background-color: white;
        width: 130px;
        font-size: 15px;
        text-align: center;
        margin: auto;
        margin-top: -10px;
    }
}


// footer
.footernav {
    width: 100%;
    height: 50px;
    position: absolute;
    margin-top: 20px;
    background-color: $Gray-color;
    text-align: center;

    img {
        width: 150px;
    }

    .footernavItems {
        width: 80%;
        margin: auto;
    }

    p {
        float: right;
        margin-top: 12px;
    }

    a {
        float: left;
        text-decoration: none;
        color: black;
        margin-top: 12px;
    }
}

footer {
    width: 80%;
    height: 300px;
    background-color: white;
    margin-top: 20px;
    margin: auto;

    ul {
        float: right;
        margin-top: 80px;
        list-style-type: none;
        text-align: right;
        margin-right: 40px;
    }

    li {
        margin-top: 10px;
    }

    h3 {
        font-size: larger;
        font-weight: bold;
    }
}

.mobFSocialIcons {
    width: 35px;
}

#DTEnemad {
    float: left;
    margin-top: 90px;
}

#MOBEnemad {
    width: 80px;
}

.mobFooter {
    text-align: center;
    margin-top: 100px;
}

#DTFooterIMGs {
    float: left;
    height: 100%;
    margin-left: 80px;

    h3 {
        margin-top: 100px;
    }

    img {
        width: 50px;
        margin-top: -10px;
        margin-left: 15px;
    }
}

// blog3 styles
.selectedItem {
    color: $orange-color;
}

.navigation {
    width: 82%;
    margin: auto;
    color: $Header-color;
    text-align: right;
    position: absolute;

    p {
        margin-top: 130px;
    }
}

.blogTitle {
    width: 60%;
    margin: auto;
    text-align: center;

    div {
        p {
            float: left;
            margin-top: -0.01px;
            margin-left: 10px;
            color: $Header-color;
        }

        img {
            width: 25px;
            float: left;
        }

        h2 {
            float: right;
            font-size: 15px;
        }

    }

    img {
        width: 100%;
        border-radius: 15px;
    }

    h3 {
        color: $Gold-color;
    }

    p {
        color: $Gold-color;
    }
}

.content {
    width: 80%;
    margin: auto;
    text-align: right;

    h3 {
        color: $Gold-color;
    }

    .Ad {
        width: 100%;
        height: 200px;
        border: $Gray-color;
        border-style: solid;
        border-radius: 10px;

        img {
            width: 20%;
            float: right;
            height: 100%;
        }

        h1 {
            font-size: 25px;
            color: $Header-color;
            margin-left: 15px;
            margin-top: 20px;
        }

        div {
            float: right;
            text-align: right;
            width: 100%;
        }

        p {
            float: right;
            margin-top: -100px;
            margin-right: 250px;
        }

        input {
            background-color: $orange-color;
            color: white;
            border-style: none;
            float: left;
            width: 200px;
            height: 50px;
            border-radius: 10px;
            font-size: 15px;
            margin-top: -50px;
            margin-left: 20px;
        }
    }

    h5 {
        margin-top: 10px;
    }
}

@mixin contactDivs {
    width: 100%;
    margin: auto;

}

.Contactbanner {
    width: 100%;
    height: 180px;
    background-image: url('assets/images/contact\ slicto\ banner.jpg');
}



.contactP {
    text-align: center;
    color: $Gold-color;

}

.ContactTemplate {
    width: 60%;
    margin: auto;
    padding-bottom: 120px;
    ;
}

.contactDetails {
    text-align: right;
    @include contactDivs();

    h5 {
        color: $orange-color;
        padding-right: 20px;
        margin-top: 30px;
    }

    p {
        padding-right: 20px;
        padding-left: 20px;
        margin-top: -20px;
    }
}

@mixin EmailandPhone {
    width: 49%;
    height: 100px;
    text-align: center;
    border: $Gray-color;
    border-style: solid;
    border-radius: 10px;

    p {
        margin-top: -20px;
    }

    h1 {
        color: $Gold-color
    }
}

.contactEmail {
    @include EmailandPhone();
    float: left;
}

.contactNumber {
    @include EmailandPhone();
    float: right;
}

#selectedOrderImage {
    float: right;
    width: 180px;
    height: 100%;

}

#color {
    width: 20px;
    height: 6px;
    border-radius: 50%;
    background-color: #525252;
    float: right;
    margin-right: 50px;
    margin-top: -10px;
}

.dashboardAddress {
    width: 100%;
    border: $Gray-color;
    border-style: solid;
    border-radius: 15px;
    margin-top: 100px;

    h1 {
        text-align: center;
        font-size: 22px;
    }

    h2 {
        margin-top: -50px;
        margin-left: 20px;
        color: blue;
        font-size: 20px;
    }

    div {
        text-align: right;
        padding-bottom: 50px;
    }

    h3 {
        font-size: 15px;
    }

    h4 {
        font-size: 15px;
    }

    h5 {
        font-size: 15px;
    }

    #text {
        float: right;
        margin-right: 20px;
    }

    #icon {
        float: right;
        margin-top: 40px;
        margin-right: 10px;
    }

    img {
        width: 30px;
    }

    #links {
        margin-right: 800px;
        margin-top: -100px;
    }

    a {
        float: left;
        margin-left: 20px;
        text-decoration: none;
    }
}

.menuj {
    width: 100%;
    position: absolute;
    background-color: #434343;
    height: 200px;
    margin-left: -8px;
    margin-top: 53px;
    display: none;
}

.menujItems {
    width: 600px;
    text-align: right;
    margin-left: 300px;

    ul {
        float: left;
        color: white;
        list-style-type: none;
    }

}

#moremenu {
    width: 20px;
    height: 20px;
    background-color: #434343;
    margin-left: 520px;
    margin-top: -9px;
    transform: rotate(45deg);
}

.filterNav {
    width: 100%;
    height: 70px;
    background-color: $Gray-color;
    position: absolute;
    margin-left: -8px;
    margin-top: 53px;
    text-align: right;

    p {
        color: $Gold-color;
        margin-top: 20px;
        margin-right: 10px;
    }
}

.filterbody {
    background-color: #d1d1d1;
    width: 100%;
    height: 100px;
    position: absolute;
    margin-left: -8px;
    margin-top: -4px;

    p {
        float: right;
        margin-top: 30px;
        margin-right: 70px;
    }

    #checkboxBody {
        width: 50px;

        background-color: $Gold-color;
        height: 30px;
        margin-top: 30px;
        border-radius: 50%;
        margin-right: 10px;
        float: right;

        #checkBox {
            width: 27px;
            margin-left: 1px;
            height: 27px;
            background-color: white;
            border: $Gold-color;
            border-style: solid;
            border-radius: 50%;
        }
    }


    #priceRange {
        width: 200px;
        margin-top: 48px;
        margin-left: 200px;
        height: 1px;
        background-color: $Header-color;

        #low {
            width: 10px;
            height: 10px;
            background-color: #1d1d1d;
            border-radius: 50%;
            float: left;
            margin-top: -4px;
            margin-left: 10px;
        }

        #high {
            width: 10px;
            height: 10px;
            background-color: #1d1d1d;
            border-radius: 50%;
            float: right;
            margin-top: -4px;
            margin-right: 30px;
        }
    }

    #lowestFilterdPrice {
        color: $Gold-color;
        margin-top: -9px;
        position: absolute;
        margin-left: 140px;
        font-size: 14px;
    }

    #highestFilterdPrice {
        color: $Gold-color;
        color: $Gold-color;
        margin-top: -9px;
        position: absolute;
        margin-left: 410px;
        font-size: 14px;
    }
}

#filterByBrand {
    background-color: #ebebeb;
    width: 100%;
    height: 100px;
    position: absolute;
    margin-left: -8px;
    margin-top: 90px;

    p {
        float: right;
        margin-right: 100px;
        margin-top: 20px;
    }
}

#filterByBrandDiv {
    width: 20px;
    height: 20px;
    background-color: #ebebeb;
    margin-left: 1000px;
    margin-top: -9px;
    transform: rotate(45deg);
}

#DropstepsTitle {
    margin: auto;
    width: 80%;

    p {
        float: right;
    }
}

#hambF {
    display: none;
    height: 100%;
    display: none;
    align-items: center;
}


.catBanners {
    width: 100%;
    height: 200px;
    background-color: #1d1d1d;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/images/blog1.jpg);
    background-size: auto;
}

.productImage {
    height: 200px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/images/blog1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

.productTitle {
    text-align: center;
    font-size: large;
    color: $Header-color;
}

.card-text {
    text-align: center;
    font-size: large;
    color: $Header-color;
}

.productPrice {
    text-align: center;
    font-size: medium;
    color: $Gold-color;
}

.productImagesTitle {
    width: 100%;
    height: 400PX;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/images/blog1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.otherProdoctImages {
    width: 70px;
    height: 70px;
    margin: auto;
}

.PTitle {
    text-align: right;
    color: $Header-color;
}

.PDetails {
    text-align: right;
    color: $Header-color;

}

.Psize {
    width: 100%;
    height: 50px;
    border: $Gray-color;
    border-style: solid;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: $Header-color;
    align-items: center;
    margin-top: 5px;
}

.MContainer {
    color: $Header-color;
    text-align: right;
}

.Pcolors {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 5px;
    background-color: red;
}

.PCount {
    justify-content: right;

    input {
        text-align: center;
    }
}

.PAddtocart {
    width: 100%;
    background-color: $orange-color;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border-style: none;
    height: 40px;
}

.FBlog {
    width: 100%;
    height: 250px;
    margin-top: 40px;
}

.postDes {
    text-align: right;

    h1 {
        color: $Gold-color;
        font-size: 25px;
        padding-right: 20px;
        margin-bottom: 10px;
    }

    p {
        padding-right: 20px;
    }

    h2 {
        font-size: 14px;
        color: $Header-color;
        padding-right: 20px;
    }
}

.postViews {
    color: $orange-color;
}

.view {
    text-align: right;

    img {
        width: 25px;
        padding-right: 5px;
    }

    color: $orange-color;
}

.PostTitle {
    color: $Gold-color;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.PostDes {
    color: $Gold-color;
    text-align: right;
}

.ConSmBoxes {
    text-align: center;
    border: $Gray-color;
    border-style: solid;
    border-radius: 10px;

    h1 {
        font-size: 20px;
        padding-top: 10px;
        color: $Gold-color;
    }
}




.cardimg {
    width: 100%;
    height: 200px;
    background-image: url('assets/images/blog1.jpg');
}

.b1banner {
    background-image: url('assets/images/blog1.jpg');
}

.pbanner {
    width: 100%;
    height: 250px;
    background-image: url('assets/images/blog1.jpg');

}

.blog3TitleImg {
    width: 100%;
    height: 250px;
    background-image: url('assets/images/blog1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


.mobFooter {
    display: none;
}

.DTFooter {
    margin-top: 20px;
}

#like {
    width: 30px;
    margin-top: -4px;
}

.likeIcon {
    text-align: left;
}

.ADs {
    text-align: center;

    h5 {
        font-size: 25px;
    }
}

.image {
    border-radius: 10px;
}

@media only screen and (max-width:1000px) {
    header {
        li {
            font-size: medium;
        }

        .icons {
            display: none;
        }

        #hambF {
            display: flex;
        }
    }

    .DTFooter {
        display: none;
    }

    .mobFooter {
        display: block;
    }
}

#downSymbol {
    width: 40px;
}

#FAQTitle {
    font-size: 25px;
}


@media only screen and (max-width:777px) {
    header {
        #headerLinks {
            display: none;
        }

        .icons {
            display: none;
        }

        #hambF {
            display: flex;
        }
    }

    .grayHeader {
        display: none;
    }
}

@media only screen and (max-width:1123px) {
    footer {
        width: 90%;
    }
}

@media only screen and (max-width : 680px) {
    .dashboardsteps {
        display: none;
    }

    .dascboardContent {
        margin-top: 10px;
        font-size: smaller;
    }

    .footernav {
        img {
            display: none;
        }
    }
}


.products{
    width: 100%;
    height: 250px;
}
.prodIMG{
    width: 100%;
    height: 90%;
}