<div class="container">

    <div class="row">
        <div class="col-sm">
            <div class="DashboardHomepageNavigation">

                <div class="row h-100 pl-1 pr-1">
                    <div class="col-8 Dash1NavTitle">جاری</div>
                    <div class="col-4 Dash1Navtotal">1</div>
                </div>

            </div>
        </div>
       

        <div class="col-sm">
            <div class="DashboardHomepageNavigation">

                <div class="row h-100 pl-1 pr-1">
                    <div class="col-8 Dash1NavTitle">تحویل شده</div>
                    <div class="col-4 Dash1Navtotal">1</div>
                </div>

            </div>
        </div>

        <div class="col-sm">
            <div class="DashboardHomepageNavigation">

                <div class="row h-100 pl-1 pr-1">
                    <div class="col-8 Dash1NavTitle">مرجوعی</div>
                    <div class="col-4 Dash1Navtotal">1</div>
                </div>

            </div>
        </div>

    </div>

    
    <div class="row">
        <div class="col-12">
            <div id="D1Log">
                برای استفاده از امکانات همکاری احراز هویت نمایید
            </div>
        </div>
    </div>
    

</div>

<div class="dashboardIndex mt-3 p-1">


<div class="row">
    <div class="col-sm-4 pb-3">
        <div class="card" style="width: 100%">
            <div class="cardimg"></div>
            <div class="card-body">
                <p class="card-text">ساعت</p>
                <div class="productPrice">700,000</div>

            </div>
        </div>
    </div>

    <div class="col-sm-4 pb-3">
        <div class="card" style="width: 100%">
            <div class="cardimg"></div>
            <div class="card-body">
                <p class="card-text">ساعت</p>
                <div class="productPrice">700,000</div>

            </div>
        </div>
    </div>

    <div class="col-sm-4 pb-3">
        <div class="card" style="width: 100%">
            <div class="cardimg"></div>
            <div class="card-body">
                <p class="card-text">ساعت</p>
                <div class="productPrice">700,000</div>

            </div>
        </div>
    </div>
</div>


</div>


<div class="row">
    <div class="col-12">
        <div id="D1message">
            شما پیام خوانده نشده دارید
        </div>
    </div>
</div>